SECRET_KEY=change-this-to-a-very-long-random-string-in-production
DATABASE_URL=sqlite:///nsdcp.db
ADMIN_EMAIL=admin@nsdcp.ng
ADMIN_PASSWORD=Admin@NSDCP2025
ENCRYPT_KEY=change-this-to-any-strong-random-string-for-field-encryption
